/* Import Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #595756;
    background: rgb(254,239,225);
    background: linear-gradient(90deg, rgba(254,239,225,1) 15%, rgba(255,255,255,1) 50%, rgba(253,238,239,1) 85%);
}

/* for shelf logo*/
.navbar-brand img {
    max-width: 110px;
    max-height: 50px;
    width: auto; /* Ensures the image scales proportionally */
    height: auto; /* Ensures the image scales proportionally */
    object-fit: contain; /* Prevents distortion and fits the image within the max bounds */
}

.navbar {
    background-color: transparent !important; /* Ensures the navbar is transparent */
}

/* for nav bar titles*/
.navbar-nav .nav-item {
    margin-left: 20px; 
    margin-right: 20px; 
    border: none; /* Removes any potential borders */
}

/* Navbar Brand Styling */
.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    color: #DC5194;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    padding:  80px 0; /* Adjust as needed */
    background: rgb(254,239,225);
    background: linear-gradient(90deg, rgba(254,239,225,1) 15%, rgba(255,255,255,1) 50%, rgba(253,238,239,1) 85%);
    min-height: 400px; /* Adjust the minimum height */
}


.highlight {
    color: #DC5194; /* Pink color */
}



.hero h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Fraunces', serif;
    max-width: 650px; /* Set a maximum width to control the wrapping */
    margin-left: auto; /* Center the text */
    margin-right: auto; /* Center the text */
    text-align: center; /* Center-align the text */
    color: #595756;
}

.hero .container {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center the content horizontally */
}

.hero .d-flex {
    display: flex;
    justify-content: center; /* Ensure the items are centered horizontally */
    align-items: center; /* Align items vertically */
    margin-left: -200px; /* Move the entire container slightly to the left */
    margin-top: 20px;
}

.hero .app-mockup img {
    max-width: 270px; /* Control the max size of the app mockup */
    border-radius: 20px;
    border: 1px solid #ddd;
}

.hero .left-photo img {
    max-width: 200px; /* Control the size of the sun image */
    height: auto;
    opacity: 0.5;
}


.soundbowl-benefits {
    padding: 100px 0; /* Adjust this value if needed */
    margin: 0; /* Remove margin if necessary */
    background-color: #FDE7E9;
    height: auto; /* Ensure the section can expand based on content */
}

.benefit-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 100%;
}

.soundbowl-benefits h1 {
    font-family: 'Fraunces', serif;
    font-weight: 600;
    font-size: 2.00rem;
    padding-bottom: 50px;
}

.benefit-box h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: 600;
}


.benefit-box p {
    font-size: 1rem;
    color: #555;
}

.benefit-icon {
    width: 70px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space between icon and heading */
}

.standout {
    padding: 100px 0; /* Add padding to the section */
    background: rgb(254,239,225);
    background: linear-gradient(90deg, rgba(254,239,225,1) 15%, rgba(255,255,255,1) 50%, rgba(253,238,239,1) 85%);
}

.standout-icon {
    width: 80px; /* Adjust icon size */
    margin-bottom: 40px; /* Space between icon and heading */
}

.standout h1{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Fraunces', serif;
    padding-bottom: 100px;
}

.standout h2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    width: 250px;
    padding-bottom: 100px;
}

h2 {
    font-family: 'Fraunces', serif;
    font-weight: 600;
}

.team-member {
    padding: 20px;
    margin-bottom: 20px;
}

.team-photo {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-right: 40px;
    border-radius: 10%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.team-info {
    flex: 1;
}

.team-name {
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 600;
}

.team-role {
    font-size: 1rem;
    color: #DC5194; /* Pink */
    font-weight: 700;
}

.team-bio {
    font-size: 1rem;
}


.features-section{
    padding: 100px 0;
    background-color: #FEEBDA;
}

.features-section .container{
    justify-content: center;
    align-items: center;
}

.features-section h1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Fraunces', serif;
}

.features-section h2 {
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
}

.features-section p{
    font-size: 1.3rem;
}

.features-section img.img-fluid {
    width: 400px;
    height: auto;
    border-radius: 15px; /* Makes the image rounded */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}


/* Add spacing between rows */
.features-section .row {
    margin-bottom: 100px; /* Increase space between rows */
}
